html{
    background-image: url("../images/index-bg.jpg");
}

body{
    padding:50px 5%;
    display: grid;
    grid-gap:10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: transparent;
}
.ligne{
    width: 100%;
    margin-bottom:10px;
}

.ligne input{
    width:95%;
}
