
html{
    background-image: url("../images/joueur-bg.jpg");
}

body{
    background-color:transparent;
}
#containerInfos {
    width:35%;
    position:absolute;
    top:100px;
    left:10px;
    }

.ligne label {
    width:200px;
    font-weight:bold;
}


