html{
    background-image: url("../images/radar.png");
}

body {
	background-color:transparent;
}

.fs-joueur {
	flex:1;
	background-color:transparent;
}

#fs-joueur1 {
	margin-right:10px;
}

#fs-joueur1 {
	margin-left:10px;
}

#grid-joueurs {
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:center;
}

fieldset{
	width:80%;
	margin:auto;
}

table{
	width:80%;
	margin:auto;
	margin-top:20px;
}

.bold {
	font-weight:bold;
	text-align:center;
}

th {
	background-color:rgb(0, 0, 0);
	text-align:center;
	color:white;
}

.center {
	text-align:center;
}

tr:nth-child(2n-1) {
	background-color:#3e8e41;
}

tr:nth-child(2n) {
	background-color:#63bb66;
}

tr:hover {
	background-color:rgb(136, 140, 141);
}