:root{
    --bg-color-form: rgba(255,255,255,0.8);;
}
*{
    margin: 0 ;
    padding: 0;
}

html{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


#surface{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

aside{
    grid-column: 2;
    grid-row: 1;
}

button {
    margin:20px 10px 10px 0;
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
 
  legend{
      padding-top:5px;
  }
  input:invalid+span:after, input:invalid+label+span:after {
    position: absolute;
    color: red;
    content: '✖';
    padding-left: 5px;
  }
  
  input:valid+span:after, input:valid+label+span:after {
    position: absolute;
    color: green;
    content: '✓';
    padding-left: 5px;
  }
  #erreur{
    margin-top: 10px;
     background-color: var(--bg-color-form);
     color: red; 
  }
  input[type="text"] {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

ul {
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active{
    background-color: #3e8e41;
}
#changerMdp{
      position:fixed;
      right:10px;
      top:50px;
  }

fieldset, #canvas-container{
    background-color: var(--bg-color-form);
    border: 5px solid;
    padding: 0.5em 1.5em 1.5em 1em;
   }

#containerInfos {
    width:35%;
    position:absolute;
    top:100px;
    left:10px;
    }

.ligne label {
    width:200px;
    }