:root{
    --bg-color-form: rgba(255,255,255,0.7);;
}
*{
    margin: 0 ;
    padding: 0;
}
html{
    background-image: url("../images/tankbg.jpg");
    background-size: cover;
}
body{
    padding:50px 5%;
    display: grid;
    grid-gap:10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}
#surface{
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}
aside{
    grid-column: 2;
    grid-row: 1;
}
.ligne{
    width: 100%;
}
.ligne input{
    width:95%;
}
.button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  canvas{
      display: block;
      background-image: url("../images/moss2.png");
      margin:auto;
  }
  fieldset{
      background-color: var(--bg-color-form);
      border: 5px solid;
      padding: 0.5em 1.5em 1.5em 1em;
  }
  legend{
      padding-top:5px;
  }
  input:invalid+span:after, input:invalid+label+span:after {
    position: absolute;
    color: red;
    content: '✖';
    padding-left: 5px;
  }
  
  input:valid+span:after, input:valid+label+span:after {
    position: absolute;
    color: green;
    content: '✓';
    padding-left: 5px;
  }
  #erreur{
    margin-top: 10px;
     background-color: var(--bg-color-form);
     color: red; 
  }